<!-- Button trigger modal connect wallet -->
<button class="button-squashed" type="button" (click)="modalToggle(); hideScrollbar()">Connect Wallet</button>

<!-- Modal -->
<div class="modal-bcg" *ngIf="isVisible" >
  <div class="modal-container">

    <div class="modal-wallet-header">
      <h3 class="h3 m-0">Connect Wallet</h3>
      <button type="button" class="close-btn" (click)="showScrollbar(); modalToggle()">
        <img src="../../../assets/icons/exit.svg" />
      </button>
    </div>
    
    <div class="modal-wallet-body">
      <div class="modal-content-grid">
        <button class="btn-link">
          <img src="../../../assets/icons/wallet-connect.svg"/>
          <p class="subtitle m-0">WalletConnect</p>
        </button>
        <button class="btn-link">
          <img src="../../../assets/icons/metamask.svg"/>
          <p class="subtitle m-0">Metamask</p>
        </button>
        <button class="btn-link">
          <img src="../../../assets/icons/binance-wallet.svg"/>
          <p class="subtitle m-0">Binance Wallet</p>
        </button>
        <button class="btn-link">
          <img src="../../../assets/icons/big-dots.svg"/>
          <p class="subtitle m-0">More</p>
        </button>
      </div>
    </div>

    <div class="modal-wallet-footer">
      <p class="p mt-0 mx-0">Haven’t got a crypto wallet yet?</p>
      <a class="m-0" href="#" target="_blank">Learn How to Connect</a>
    </div>
  
  </div>
</div>
