/* MAIN PAGE TRADE */
.main-page {
  display: flex;
  position: relative;
}

.main-page-box {
  -webkit-box-flex: 1;
  flex-grow: 1;
  transition: margin-top 0.2s ease 0s, margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: translate3d(0px, 0px, 0px);
  max-width: 100%;
}

.middle-page {
  padding: 32px 32px 0px;
  min-height: calc(100vh - 100px);    
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background: var(--gradient);
}
/* CARD-ADD */

.generic-box-container {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 1.5rem;
  border: 1px solid var(--grey-border);
  box-shadow: var(--background-color) 0px 3px 0px;
  margin-top: 4rem;
}

.section-top {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.text-section-top {
  display: flex;
  flex-direction: column;
}

.text-section-top h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--dark-purple);
}

.tooltip-container {
  display: flex;
  align-items: center;
}

.tooltip-text {
  color: var(--light-purple);
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}

.button-top {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}


.divisore {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

/* SECOND SECTION */
.main-bottom {
  display: block;
  width: 100%;
}

.main-bottom-box {
  display: flex;
  -webkit-box-pack: justify;
  flex-direction: row;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 16px;
  padding-right: 0px;
  font-family: 'Kanit', sans-serif;
}

.main-bottom-left {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-left-button {
  background-color: rgb(238, 234, 244);
  border-radius: 16px;
  display: inline-flex;
  border: 1px solid rgb(215, 202, 236);
  width: auto;
}

.bottom-left-button a:hover, .bottom-left-button button:hover {
  opacity: 0.65;
}

.switch-v1 {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: rgb(122, 110, 170);
  color: rgb(255, 255, 255);
}

.switch-old {
  background-color: transparent;
  color: rgb(122, 110, 170);    
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
}

.link-convert {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;   
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--cyan);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
}

.link-convert svg {
  align-self: center;
  fill: var(--cyan);
  flex-shrink: 0;
  margin-left: 4px;
}

.main-bottom-right {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.need-help {
  display: flex;
  font-family: 'Kanit', sans-serif;
}

.need-help a {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: var(--light-purple);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.need-help svg {
  fill: var(--light-purple);
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  align-self: center;
  flex-shrink: 0;
}

.need-help a:hover, .need-help svg:hover {
  opacity: 0.65;
}

.img-bottom-right {
  height: 108px;
  max-width: 160px;
  position: relative;
  width: 100%;
}

.img-bottom-right img {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
