.mr-1-2 {
  margin-right: 0.75rem;
}

.wallet {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-standard {
  border-radius: 1rem;
  border: 0px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--cyan);
  color: white;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: var(--pointer);
  letter-spacing: 0.03em;
  line-height: 1;
  width: 18.313rem;
  height: 3.05rem;
  opacity: 1;
}

.button-standard:hover {
  background-color: var(--hover-color);
}

.button-standard:active {
  background-color: var(--active-color);
  transform: translateY(1px);
  box-shadow: none;
}

.button-clock {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-clock:hover {
  background-color: transparent;
}

.escButton {
  position: relative;
  border: none;
  background-color: transparent;
  left: 3.5rem;
  bottom: 0.25rem;
}

.text {
  width: 100%;
  display: inline-flex;
  height: 45%;
  background: linear-gradient(
    111.68deg,
    rgb(242, 236, 242) 0%,
    rgb(232, 242, 246) 100%
  );
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 1.63rem;
}

.text > h5 {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-purple)
}