<button class="button-clock mr-1-2 ml-1 d-flex align-items-center h-100"  type="button">
  <img src="assets/icons/circle-clock-lightpurple.svg" alt="" (click)="open(content)"/>
</button>

<ng-template #content let-modal>
  <div >
    <div class="text">
      <h5>Recent Transactions</h5>
      <button
        type="button"
        class="escButton"
        aria-label="Close"
        (click)="modal.close('Cross click')"
      >
      <img src="assets/icons/exit.svg" alt="exit">
      </button>
    </div>
    <div class="wallet">
      <app-modal-connect-wallet [buttonClass]="'button-large'"></app-modal-connect-wallet>
    </div>
  </div>
</ng-template>
