.switcher {
  align-items: center;
  background-color: rgb(189, 194, 196);
  border-radius: 24px;
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  position: relative;
  transition: background-color 200ms ease 0s;
  width: 56px;
}

.switcher-input {
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
  cursor: pointer;
}

.switcher-sun-container {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  height: 26px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: left 200ms ease-in 0s;
  width: 26px;
  z-index: 1;
}

.switcher-sun-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sun-icon {
  align-self: center;
  fill: rgb(255, 178, 55);
}

.switcher-dark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dark-icons {
  align-self: center;
  fill: rgb(255, 255, 255);
}

.switcher-input:hover + .active-border,
.switcher-input:focus + .active-border {
  box-shadow: rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px;
}

/* dark mode */
.switcher-dark-on {
  align-items: center;
  background-color: rgb(102, 97, 113);
  border-radius: 24px;
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  position: relative;
  transition: background-color 200ms ease 0s;
  width: 56px;
}

.sun-container-dark {
  background-color: rgb(39, 38, 44);
  border-radius: 50%;
  cursor: pointer;
  height: 26px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: left 200ms ease-in 0s;
  width: 26px;
  z-index: 1;
}

.dark-icons-on {
  align-self: center;
  fill: rgb(39, 38, 44);
}

.moon-dark-on {
  align-self: center;
  fill: rgb(154, 106, 255);
}