/* MAIN PAGE TRADE */
.main-page {
  display: flex;
  position: relative;
}

.main-page-box {
  -webkit-box-flex: 1;
  flex-grow: 1;
  transition: margin-top 0.2s ease 0s, margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: translate3d(0px, 0px, 0px);
  max-width: 100%;
}

.middle-page {
  padding: 32px 32px 0px; 
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}
/* CARD-ADD */

.container-card-add {
  max-width: 436px;
  width: 100%;
  padding: 1px 1px 3px;
  border-radius: 1.5rem;
}

.generic-box-container {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  margin-top: 5rem;
}
.section-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.9rem;
  width: 100%;
}

.section-top {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.text-section-top {
  display: flex;
  flex-direction: column;
}

.text-section-top h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--dark-purple);
  margin-bottom: 0.5rem;
}

.tooltip-container {
  display: flex;
  align-items: center;
}

.tooltip-text {
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.869rem;
}

.button-top-container {
  display: flex;
  align-items: center;
}

.button-top {
  display: flex;
  align-items: center;
  width: 2rem;
  margin-right: 8px;
}


.divisore {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.second-section-card {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 1.25rem;
}

.select-currency-container {
  position: relative;
}

.select-currency {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 20px;
}

.select-currency-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.5rem;
  border: none;
  background-color: transparent;
}

.button-currency div {
  color: var(--dark-purple);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.general-field-big-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1rem 1.5rem 1rem;
  border-radius: 1rem;
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
}

.general-field-big {
  outline: none;
  border: none;
  flex: 1 1 auto;
  text-align: right;
  font-weight: 500;
  background-color: transparent;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
}

.general-field-big::placeholder {
  color: var(--light-purple);
}

.box-color {
  width: 7.5rem; /*120px*/
  height: 3.75rem; /*60px*/
}

.plus-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* SECOND SECTION */
.main-bottom {
  display: block;
  width: 100%;
}

.main-bottom-box {
  display: flex;
  -webkit-box-pack: justify;
  flex-direction: row;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 16px;
  padding-right: 0px;
  font-family: 'Kanit', sans-serif;
}

.main-bottom-left {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-left-button {
  border-radius: 16px;
  display: inline-flex;
  border: 1px solid rgb(215, 202, 236);
  width: auto;
}

.bottom-left-button a:hover, .bottom-left-button button:hover {
  opacity: 0.65;
}

.switch-v1 {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
}

.switch-old {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
}

.link-convert {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;   
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--cyan);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
}

.link-convert svg {
  align-self: center;
  fill: var(--cyan);
  flex-shrink: 0;
  margin-left: 4px;
}

.main-bottom-right {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.need-help {
  display: flex;
  font-family: 'Kanit', sans-serif;
}

.need-help a {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.need-help svg {
  fill: var(--light-purple);
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  align-self: center;
  flex-shrink: 0;
}

.need-help a:hover, .need-help svg:hover {
  opacity: 0.65;
}

.img-bottom-right {
  height: 108px;
  max-width: 160px;
  position: relative;
}

.img-bottom-right img {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}


/* RESPONSIVE */
@media all and (min-width: 370px) {
  .main-bottom-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 16px;
    padding-right: 0px;
  }

  .main-bottom-left {
    flex-direction: column;
  }

  .link-convert {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .img-bottom-right {
    margin-right: 10rem;
  }
}

/* MODAL */
.modal-box-connect {
  width: 26.125rem;
}

.modal-wallet-header {
  padding: 0.75rem 0.1rem 0.75rem 1.5rem;
  line-height: 1.1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-purple);
}

.close-btn {
  align-self: center;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
}

.close-btn:hover {
  opacity: 0.65;
}

.close-btn:active {
  opacity: 0.85;
  transform: translateY(1px);
}

.search-field {
  border-radius: 16px;
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  display: block;
  font-size: 16px;
  height: 48px;
  outline: 0px;
  padding: 0px 16px;
  width: 100%;
  border: none;
}

.search-field::placeholder {
  color: var(--light-purple);
}

.search-field:focus {
  box-shadow: rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px;
}

.modal-section {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  padding: 24px;
}

.modal-currency {
  margin: 24px -24px;
}

.modal-currency-container {
  position: relative;
  height: 390px;
  width: 100%;
  overflow: auto;
}

.box-currency {
  height: 840px;
  width: 100%;
}

.container-ciclo-currency {
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) minmax(0px, 72px);
  gap: 8px;
  padding: 4px 20px;
  left: 0px;
  top: 0px;
  height: 56px;
  width: 100%;
  cursor: pointer;
}

.darkmode .container-ciclo-currency:hover {
  background-color: var(--bcg-dark);
}

.lightmode .container-ciclo-currency:hover {
  background-color: var(--white);
}

.darkmode.switch-old {
  color: var(--mauve);
}

.lightmode.switch-old{
  color: var(--light-purple);
}

.label-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.label-currency-1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.label-currency-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.button-currency-modal {
  width: 100%;
  text-align: center;
}

.button-currency-modal button {
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;    
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  background-color: transparent;
  color: var(--cyan);
}

.darkmode ::placeholder {
  color: var(--mauve);
}

.lightmode ::placeholder {
  color: var(--light-purple);
}
/* RESPONSIVE */
@media all and (min-width: 576px) {
  .main-bottom-box {
    padding-top: 3.5rem;
  }

  .main-bottom-left {
    flex-direction: row;
  }

  .link-convert {
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media all and (min-width: 852px) {
  .main-bottom-box{
    flex-direction: row;
  }
  
}