
  <div class="earn-data-container">
    <div class="earn-data-title">
      <h3 class="h3">Top <span id="earn-table-title">Syrup Pools</span></h3>
      <button type="button" class="icons-button switcher-earn"><img id='switch-icon' src="assets/icons/arrow-up-down-light-purple.svg" /></button>
    </div>

    <div class="earn-data">
      <div id="grid-data1" class="earn-data-grid earn-table-show">
        <div class="earn-data-column">
          <p class="p-small">CCAR-BNB LP</p>
          <p class="p-dark">528.970%</p>
          <p class="p-light-purple">APR</p>
        </div>

        <div class="earn-data-column column-border">
          <p class="p-small">DPT-BNB LP</p>
          <p class="p-dark">391.263%</p>
          <p class="p-light-purple">APR</p>
        </div>

        <div class="earn-data-column column-border">
          <p class="p-small">KART-BNB</p>
          <p class="p-dark">212.280%</p>
          <p class="p-light-purple">APR</p>
        </div>

        <div class="earn-data-column column-border">
          <p class="p-small">ETERNAL-BNB LP</p>
          <p class="p-dark">174.440%</p>
          <p class="p-light-purple">APR</p>
        </div>

        <div class="earn-data-column column-border">
          <p class="p-small">FINA-BUSD LP</p>
          <p class="p-dark">171.916%</p>
          <p class="p-light-purple">APR</p>
        </div>
      </div>

      <div id="grid-data2" class="earn-data-grid earn-table-hide">
        <div class="earn-data-column">
          <p class="p-small">Stake CAKE - Earn CCAR</p>
          <p class="p-dark">104.009%</p>
          <p class="p-light-purple">APR</p>
        </div>

        <div class="earn-data-column column-border">
          <p class="p-small">Stake CAKE - Earn DPT</p>
          <p class="p-dark">76.697%</p>
          <p class="p-light-purple">APR</p>
        </div>

        <div class="earn-data-column column-border">
          <p class="p-small">IFO CAKE</p>
          <p class="p-dark">70.303%</p>
          <p class="p-light-purple">APR</p>
        </div>

        <div class="earn-data-column column-border">
          <p class="p-small">Auto CAKE</p>
          <p class="p-dark">68.962%</p>
          <p class="p-light-purple">APR</p>
        </div>

        <div class="earn-data-column column-border">
          <p class="p-small">Stake CAKE - Earn FINA</p>
          <p class="p-dark">67.796%</p>
          <p class="p-light-purple">APR</p>
        </div>
      </div>
    </div>

  </div>

