.earn-data-container {
  width: calc(100vw - 3rem);
  max-width: 60.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  color: var(--dark-purple);
}

.earn-data-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.earn-data-title span {
  color: var(--purple);
}

.switcher-earn {
  width: 3rem;
  display: flex;
  justify-content: center;
}

.earn-data {
  height: 15rem;
  width: 100%;
}

.earn-data-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  height: 100%;
  width: 100%;
}

.earn-table-hide {
  opacity: 0;
  transition-property: opacity, margin-top, all;
  transition-duration: 0s, 0s, 0.4s;
  transition-timing-function: ease, ease, ease-out;
}

.earn-table-show {
  opacity: 1;
  margin-top: 0;
  transition-property: opacity, margin-top, all;
  transition-duration: 0s, 0s, 0.4s;
  transition-timing-function: ease, ease, ease-out;
}

.earn-data-column {
  padding-right: 0.5rem;
}

.earn-data-column p:first-child {
  margin-bottom: 0.5rem;
  color: var(--purple);
}

.earn-data-column p:last-child {
  line-height: 1.5;
}

/* -- UTILITIES -- */
.icons-button {
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.icons-button:hover {
  opacity: 0.65;
}

/* -- RESPONSIVE -- */
@media all and (min-width: 576px) {
  .earn-data {
    height: 5rem;
  }

  .earn-data-grid {
    grid-template-columns: repeat(5, 1fr);
  }

  .earn-data-column:nth-of-type(1) {
    border-left: none;
    padding-left: 0;
  }
  
  .earn-data-column {
    border-left: 1px solid var(--column-border);
    padding-left: 1rem;
  }
}
