<div class="d-flex justify-content-center">

  <div class="card-nft d-flex flex-column">
    <img class="hero-image" src="" alt="" />
    <div class="d-flex flex-column align-items-end">
      <h3>Card-Title</h3>
      <div class="d-flex align-items-center">
        <span>Volume</span>
        <img src="../../../assets/icons/coin.svg" alt="" class="px-1" />
        <p class="mb-0">Card-Price</p>
      </div>
    </div>
    <div class="image">
      <img src="" alt="" />
    </div>
  </div>
</div>
