<div style="margin-top: 4rem;" [ngClass]="isDarkModeOn ? 'bcg-gradient-purple-black' : 'bcg-white-grey'">
  <!-- <nav class="d-flex align-items-center justify-content-center" >
    <a routerLink="swap" class="me-3" routerLinkActive="active" [ngClass]="isDarkModeOn ? 'text-mauve' : 'text-lighpurple'">Swap</a>
    <a routerLink="liquidity" routerLinkActive="active" [ngClass]="isDarkModeOn ? 'text-mauve' : 'text-lighpurple'">Liquidity</a>
  </nav> -->

  <app-secondary-menu [items]="menuItems"></app-secondary-menu>
  <router-outlet></router-outlet>
</div>