<div class="page-of">
  <ngb-pagination [collectionSize]="30" [(page)]="page" [boundaryLinks]="false">
    <ng-template ngbPaginationPrevious
      ><img
        [src]="
          page < 2
            ? 'assets/icons/arrow-left.svg'
            : 'assets/icons/arrow-left-cyan.svg'
        "
        alt="arrow left pagination"
    /></ng-template>
    <ng-template ngbPaginationPages let-page let-pages="pages">
      <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
        <div class="mb-3 d-flex flex-nowrap text-page-of">
          <label
            id="paginationInputLabel"
            for="paginationInput"
            class="col-form-label ms-1"
            >Page</label
          >
          <p class="col-form-label">{{ page }}</p>
          <span id="paginationDescription" class="col-form-label text-nowrap">
            of {{ pages.length }}</span
          >
        </div>
      </li>
    </ng-template>
    <ng-template ngbPaginationNext
      ><img
        [src]="
          page < 3
            ? 'assets/icons/arrow-right-cyan.svg'
            : 'assets/icons/arrow-right.svg'
        "
        alt="arrow right pagination"
    /></ng-template>
  </ngb-pagination>
</div>
