.tableSection {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tableInside {
  background: var(--gradient-pink-blue);
  border: 0.063rem solid var(--grey-border);
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  padding: 1.5rem;
  width: 55.375rem;
  height: 4.625rem;
}



.textFaqs h2 {
  font-size: 1.5rem;
  color: var(--purple);
  font-weight: bold;
  align-items: center;
}

.tableContainer {
  background: #FFFFFF;
  padding: 1.5rem;
  border: 0.063rem solid var(--grey-border);
  width:55.375rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

span {
  white-space: pre-line;
}