.tableSection {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tableInside {
  background: var(--gradient-pink-blue);
  border: 1px solid var(--grey-border);
  border-radius: 24px 24px 0px 0px;
  padding: 1.5rem;
  width: 55.375rem;
  height: 4.625rem;
}



.textFaqs h2 {
  font-size: 24px;
  color: var(--purple);
  font-weight: bold;
  align-items: center;
}

.tableContainer {
  background: #FFFFFF;
  padding: 24px;
  border: 1px solid var(--grey-border);
  width: 886px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

span {
  white-space: pre-line;
}