<div class="d-flex flex-column flex-lg-row align-items-center justify-content-between w-100 py-5">
  <div class="d-flex align-items-center">
    <button class="btn"><img src="assets/icons/six-square-gray.svg" /></button>
    <button class="btn"><img src="assets/icons/rectangles-cyan.svg" /></button>

    <label class="input-set"
      [ngClass]="{ checked: active, 'bcg-input-dark': isDarkModeOn, 'bcg-background-color': !isDarkModeOn}">
      <input type="checkbox" class="input-set2" [(ngModel)]="active">
      <div class="input-set3" [ngClass]="isDarkModeOn ? 'bcg-footer' : 'bcg-white'">
      </div>
    </label>
    <p [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'" class="mb-0 mx-3">Stacked only</p>

    <div class=" input-set-live" (click)="activeLive = !activeLive">
      <div class="input-set-live2">
        <a class="input-set-live3" [ngClass]="{ 'input-set-live5': activeLive }">Live</a>
        <span class="input-set-live4">
          <a class="input-set-live3" [ngClass]="{ 'input-set-live5': !activeLive }">Finished</a>
          <span class="input-set-live6"></span>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center mt-4 mt-lg-0">
    <div class="box">
      <h3 [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'" class="h5">Sort by</h3>

      <div class="mr-3">
        <div class="sort-by-container" [ngStyle]="{'border-radius': !isVisible ? '16px' : '16px 16px 0 0'}"
          [ngClass]="isDarkModeOn ? 'bcg-input-dark' : 'bcg-background-color'">
          <div class="sort-by-head" (click)="showOptions()">
            <p class="p" [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">{{ optionSelected }}</p>
            <img src="assets/icons/arrow-sort.svg" />
          </div>

          <div class="sort-by-list" *ngIf="isVisible"
            [ngClass]="isDarkModeOn ? 'bcg-input-dark' : 'bcg-background-color'">
            <ul class="m-0 p-0">
              <li *ngFor="let option of optionsList" (click)="selectOption(option)"
                [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">{{ option }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-3">
      <h3 [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">Search</h3>
      <div>
        <input class="search-field" type="text" placeholder="Search Farms"
          [ngClass]="isDarkModeOn ? 'bcg-input-dark' : 'text-darkpurple'"
          [ngClass]="isDarkModeOn ? 'bcg-input-dark' : 'bcg-background-color'" />
      </div>
    </div>
  </div>
