<div class="language-container">
  <button class="button-language d-flex align-items-center h-100" type="button">
    <img [src]="isNavbar ? 'assets/icons/language-light-purple.svg' : 'assets/icons/language-mauve.svg'">
    <p *ngIf="isFooter" class="lang-initials">{{ langSelected | uppercase }}</p>
  </button>

  <div class="lang-selector" [ngClass]="{'lang-selector-top': isNavbar, 'lang-selector-bottom': isFooter}">
    <button
      class="lang btn"
      type="button"
      (click)="setLang(lang.initials)"
      *ngFor="let lang of languages">
        {{lang.language}}
    </button>
  </div>

</div>
