<footer>
  <div class="f-wrapper">
    <div class="f-row1">
      <ul class="f-link">
        <li class="li-title">ABOUT</li>
        <li><a class="f-link-a" href="#">Contact</a></li>
        <li><a class="f-link-a" href="#">Brand</a></li>
        <li><a class="f-link-a" href="#">Blog</a></li>
        <li><a class="f-link-a" href="#">Community</a></li>
        <li><a class="f-link-a" href="#">CAKE token</a></li>
        <li><span>—</span></li>
        <li><a class="special-a" href="#">Online Store</a></li>
      </ul>

      <div class="f-container">
        <ul class="f-link">
          <li class="li-title">HELP</li>
          <li><a class="f-link-a" href="#">Customer Support</a></li>
          <li><a class="f-link-a" href="#">Troubleshooting</a></li>
          <li><a class="f-link-a" href="#">Guides</a></li>
        </ul>
      </div>

      <div class="f-container">
        <ul class="f-link">
          <li class="li-title">DEVELOPERS</li>
          <li><a class="f-link-a" href="#">Github</a></li>
          <li><a class="f-link-a" href="#">Documentation</a></li>
          <li><a class="f-link-a" href="#">Bug Bounty</a></li>
          <li><a class="f-link-a" href="#">Audits</a></li>
          <li><a class="f-link-a" href="#">Careers</a></li>
        </ul>
      </div>

      <div class="f-logo">
        <img src="assets/icons/logo-footer.svg" alt="logo footer">
      </div>
    </div>

    <div class="f-row2">
      <a href="#"><img src="assets/icons/twitter.svg" /></a>
      <div>
        <a href="#"><img src="assets/icons/telegram.svg" /></a>
      </div>
      <a href="#"><img src="assets/icons/reddit.svg" /></a>
      <a href="#"><img src="assets/icons/instagram.svg" /></a>
      <a href="#"><img src="assets/icons/github.svg" /></a>
      <a href="#"><img src="assets/icons/discord.svg" /></a>
    </div>

    <div class="f-row3">
      <div>
        <app-dark-mode></app-dark-mode>
        <app-language-selector></app-language-selector>
      </div>

      <div>
        <div class="pancakes-link">
          <a href="#" target="_blanck"><img src="assets/icons/pancakes.svg" />$11.926</a>
            <!--link to trade-->
        </div>

        <button class="button-wallet" type="button">Buy CAKE<img src="assets/icons/row.svg" /></button>
      </div>
    </div>

  </div>
</footer>