<ngb-accordion #acc="ngbAccordion" *ngIf="farm">
  <ngb-panel id="static-1">
    <ng-template ngbPanelHeader let-opened="true">
      <div class="d-flex align-items-center justify-content-between py-3">
        <div class="d-flex align-items-center">
          <div class="position-relative me-5 mb-4">
            <img src="assets/icons/coin.svg" class="back-img">
            <img [src]="farm.imgUrl" alt="" class="top-img">
          </div>

          <h3 class="p title-name" [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">{{ farm.name }}
          </h3>
        </div>

        <div class="d-flex flex-column">
          <h4 class="p-small title-date" [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">Earned</h4>
          <p class="p figures" [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">{{ farm.earned }}</p>
        </div>

        <div class="d-flex flex-column">
          <h4 class="p-small title-date">Apr</h4>
          <div class="d-flex">
            <p class="p figures me-2" [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">{{ farm.apr }}%
            </p>
            <img class="icons" src="assets/icons/calculator-light-purple.svg">
          </div>
        </div>

        <div class="d-flex flex-column">
          <h4 class="p-small title-date">Liquidity</h4>
          <div class="d-flex">
            <p class="p figures me-2" [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">
              ${{ farm.liquidity }}</p>
            <img class="icons" src="assets/icons/questionMark-light-purple.svg"
              ngbTooltip="Total value of the funds in this farm’s liquidity pool">

          </div>
        </div>

        <div class="d-flex flex-column">
          <h4 class="p-small title-date">Multiplier</h4>
          <div class="d-flex">
            <p class="p figures" [ngClass]="isDarkModeOn ? 'text-white-footer' : 'text-darkpurple'">
              {{ farm.multiplier }}x</p>

          </div>
        </div>

        <button ngbPanelToggle class="btn btn-link p-0">
          <img src="assets/icons/arrow-little-down-cyan.svg" alt="">
        </button>
      </div>
    </ng-template>


    <ng-template ngbPanelContent>
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex flex-column">
          <a routerLink="add">Get {{ farm.name | titlecase }} LP<img src="assets/icons/arrow-oblique-cyan.svg"></a>
          <a href="">View Contract<img src="assets/icons/arrow-oblique-cyan.svg"></a>
          <a href="">See Pair Info<img src="assets/icons/arrow-oblique-cyan.svg"></a>
          <div class="core-border d-flex align-items-center justify-content-between">
            <label><img class="check-icon" src="assets/icons/check-purple.svg">{{ farm.type | titlecase }}</label>
          </div>
        </div>
        <div class="farm-row-buttons d-flex mx-4 ">
          <div class="bord mx-5">
            <div class="d-flex flex-column earned ">
              <h5 class="p-small">CAKE EARNED</h5>
              <div class="d-flex justify-content-center align-items-center justify-content-between">
                <h6>{{ farm.cakeEarned }}</h6>
                <button disabled type="button" class="button-small">
                  <div>Harvest</div>
                </button>
              </div>
            </div>
          </div>

          <div class="bord">
            <div class="d-flex flex-column farming">
              <h5 class="p-small">START FARMING</h5>

              <app-modal-connect-wallet [buttonClass]="'button-large'" [isDarkModeOn]="isDarkModeOn">
              </app-modal-connect-wallet>

            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
