.title-name {}

img {
  height: 1.625rem;
  width: 1.625rem;
}

.icons {
  width: 1.25rem;
}

.figures {}

a {
  color: var(--cyan);
}

.button-large {
  border-radius: 1rem;
  border: 0px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--cyan);
  color: white;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  letter-spacing: 0.03em;
  line-height: 1;
  width: 18.625rem;
  height: 3rem;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
}

.button-large:hover {
  background-color: var(--hover-color);
}

.button-large:active {
  background-color: var(--active-color);
  transform: translateY(1px);
  box-shadow: none;
}

.back-img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  top: 0;
}

.top-img {
  z-index: 2;
  width: 1.625rem;
  height: 1.625rem;
  position: absolute;
  top: 6px;
  left: 6px;
}

a {
  font-weight: 400;
  font-size: 1rem;
}

.bord {
  padding: 16px;
  border: 2px solid var(--background-color);
  border-radius: 16px;
  flex-grow: 1;
  flex-basis: 0px;
}

.p-small {
  color: var(--light-purple);
}

.check-icon {
  width: 14px;
  margin-right: 4px;
}

.core-border {
  border: 2px solid var(--purple);
  border-radius: 16px;
  width: 64px;
  height: 24px;
}

.button-small {
  align-items: center;
  border: 0px;
  border-radius: 1rem;
  display: inline-flex;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 3rem;
  padding: 0px 24px;
  margin-left: 4px;
  background-color: rgb(233, 234, 235);
  border-color: rgb(233, 234, 235);
  box-shadow: none;
  color: rgb(189, 194, 196);
  cursor: not-allowed;
}

h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--dark-purple);
}

.farm-row-buttons {
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0px;
}

label {
  color: var(--dark-purple);
}

.accordion-item {
  border: none !important;
}
